table {
    border-collapse: collapse;
    border-spacing: 0;
}

.expandable-table {
    width: 100%;
}

.expandable-table thead {
    border-bottom: 1px solid #dadada;
}

.expandable-table thead tr {
    height: 50px;
}

.expandable-table thead tr th {
    text-align: left;
    padding: 8px 10px;
}

.expandable-table tbody tr td {
    position: relative;
    padding: 8px 10px;
    vertical-align: text-top;
    line-height: 16px;
    display: table-cell;
}

.expandCollapseIcon {
    cursor: pointer;
}